<div class="x_content found">
    <div class="row">
        <div class="x_panel">

            <div class="col-xs-3 form-group">
                <label>Desktops</label>
                <input id="quota-desktops" name="quota-desktops" class="form-control" disabled value="1" min="0" class="roundbox" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
            </div>
            <div class="col-xs-3 form-group">
                <label>Concurrent</label>
                <input id="quota-running" name="quota-running" class="form-control" disabled value="1" min="0" class="roundbox" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
            </div>
            <div class="col-xs-3 form-group">
                <label>vCPU</label>
                <input id="quota-vcpus" name="quota-vcpus" class="form-control col-md-7 col-xs-12" disabled value="1" min="0" class="roundbox" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
            </div>
            <div class="col-xs-3 form-group">
                <label>Memory(GB)</label>
                <input id="quota-memory" name="quota-memory" class="form-control col-md-7 col-xs-12" disabled value="2" min="0" class="roundbox" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
            </div>
            <div class="col-xs-3 form-group">
                <label>Disk size(GB)</label>
                <input id="quota-desktops_disk_size" name="quota-desktops_disk_size" class="form-control" disabled value="40" min="0" class="roundbox" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
            </div>                   
        </div>

        <div class="x_panel">
            <div class="col-xs-3 form-group">
                <label>Templates</label>
                <input id="quota-templates" name="quota-templates" class="form-control" disabled value="0" min="0" class="roundbox" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
            </div>
            <div class="col-xs-3 form-group">
                <label>Disk size(GB)</label>
                <input id="quota-templates_disk_size" name="quota-templates_disk_size" class="form-control" disabled value="0" min="0" class="roundbox" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
            </div>                   
        </div>    

        <div class="x_panel">
            <div class="col-xs-3 form-group">
                <label>Isos</label>
                <input id="quota-isos" name="quota-isos" class="form-control" disabled value="0" min="0" class="roundbox" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
            </div>
            <div class="col-xs-3 form-group">
                <label>Disk size(GB)</label>
                <input id="quota-isos_disk_size" name="quota-isos_disk_size" class="form-control" disabled value="0" min="0" class="roundbox" maxlength="5" pattern="[0-9@]+$"  placeholder="" data-parsley-trigger="change" required type="number"/>
            </div>                
        </div> 

    </div>                   
</div>

<script src="/isard-admin/static/js/snippets/quota.js"></script> 
